pkgbase = android-x86-qt6-declarative
	pkgdesc = Classes for QML and JavaScript languages (Android x86)
	pkgver = 6.10.1
	pkgrel = 1
	url = https://www.qt.io
	arch = any
	groups = android-qt6-declarative
	groups = android-x86-qt6
	license = GPL3 LGPL3
	license = FDL
	license = custom
	makedepends = android-cmake
	makedepends = android-x86-qt6-shadertools
	makedepends = android-x86-qt6-svg
	makedepends = qt6-declarative
	makedepends = qt6-shadertools
	makedepends = qt6-svg
	makedepends = ninja
	makedepends = python
	depends = android-x86-qt6-base
	optdepends = qt6-declarative: development tools
	provides = android-x86-qt6-quickcontrols2
	conflicts = android-x86-qt6-quickcontrols2
	replaces = android-x86-qt6-quickcontrols2
	options = !strip
	options = !buildflags
	options = staticlibs
	options = !emptydirs
	source = https://download.qt.io/official_releases/qt/6.10/6.10.1/submodules/qtdeclarative-everywhere-src-6.10.1.tar.xz
	source = 0001-Exclude-qmltime-when-cross-compiling.patch
	md5sums = 5a3cb44b944980795a3cf5c55d849cf1
	md5sums = b24ae7735a5da9fc612173049875d829

pkgname = android-x86-qt6-declarative
