pkgbase = android-armv7a-eabi-boost
	pkgdesc = Free peer-reviewed portable C++ source libraries (Android armv7a-eabi)
	pkgver = 1.89.0
	pkgrel = 1
	url = https://www.boost.org/
	arch = any
	groups = android-boost
	license = custom
	makedepends = android-cmake
	makedepends = android-armv7a-eabi-openmpi
	depends = android-armv7a-eabi-bzip2
	depends = android-armv7a-eabi-libiconv
	depends = android-armv7a-eabi-icu
	depends = android-armv7a-eabi-zlib
	depends = android-armv7a-eabi-zstd
	optdepends = android-armv7a-eabi-openmpi: for mpi support
	options = !strip
	options = !buildflags
	options = staticlibs
	options = !emptydirs
	source = https://github.com/boostorg/boost/releases/download/boost-1.89.0/boost-1.89.0-cmake.tar.xz
	md5sums = 537da0e22b31b8b7185cc44fdde70458

pkgname = android-armv7a-eabi-boost
