pkgbase = android-aarch64-libiconv
	pkgdesc = Provides GNU libiconv.so and libcharset.so (android)
	pkgver = 1.17
	pkgrel = 1
	url = http://www.gnu.org/software/libiconv/
	arch = any
	license = LGPL
	makedepends = android-configure
	depends = android-ndk
	options = !strip
	options = !buildflags
	options = staticlibs
	options = !emptydirs
	source = http://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.17.tar.gz
	md5sums = d718cd5a59438be666d1575855be72c3

pkgname = android-aarch64-libiconv
